/* ---------->>> GERAL <<<-----------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-weight: 300;
}

ul, li, a, h1, h2 {
    list-style: none;
    text-decoration: none;
}

/* ---------->>> INCLUDE HEADER <<<-----------*/

body, html {
    width: 100%;
    height: 100%;
}

#header {
    background: #556594;
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-weight: 600;
    color: white;
    padding-left: 30px;
}

#coluna2 {
    display: flex;
    width: 200px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
}

#nome {
    font-size: 1em;
    color: white;
}

#sair {
    font-size: .85em;
    color: white;
}

#sair:hover {
    text-decoration: underline;
}

#bcg-menu {
    display: flex;
    background: #161e55;
    height: 10%;
    justify-content: flex-end;
}

#menu {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

#menu ul{
    display: flex;
    align-items: center;
}

#menu ul li {
    color: white;
    padding: 15px 20px;
}

#menu ul li:hover {
    background: #556594;
    border-radius: 3px;
}

#menu ul li a {
    font-size: 1em;
    color: white;
}

/* ---------->>> INCLUDE FOOTER <<<-----------*/

#footer {
    display: flex;
    font-size: .75em;
    height: 5%;
    width: 100%;
    color: white;
    background: #525d8081;
    align-items: center;
    justify-content: center;
}

/* ---------->>> PRINCIPAL <<<-----------*/

#main-principal {
    display: flex;
    height: 72%;
    flex-wrap: wrap;
    justify-content: center;
}

#titulo-principal, #titulo-clientes, #titulo-aeronaves, #titulo-nClientes, #titulo-nAeronaves, #titulo-eClientes, #titulo-eAeronaves {
    font-size: 2.5em;
    text-align: center;
    padding: 50px;
}

#tabela {
    width: 90%;
    border-spacing: 0;
}

th{
    padding: 25px 20px;
    color: #141518;
    font-size: 1.2em;
}

td {
    padding: 5px;
    font-size: .85em;
    color: #00000075;
    text-align: center;
    line-height: 2;
}

/* ---------->>> CLIENTES/ AERONAVES - LISTAR <<<-----------*/

#main-clientes, #main-aeronaves, #main-nClientes, #main-nAeronaves, #main-eClientes, #main-eAeronaves {
    height: 72%;
}

#btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#btn-clientes, #btn-aeronaves {
    padding: 15px 30px;
    background: #141518;
    margin-right: 30px;
    border-radius: 5px;
    color: white;
}

#btn-clientes:hover, #btn-aeronaves:hover {
    background: #161e55;
}

#centralizar {
    display: flex;
    justify-content: center;
}

/* ---------->>> CLIENTES/ AERONAVES - CADASTRAR/EDITAR <<<-----------*/

.campo {
  width: 150px;
  height: 30px;  
  padding: 0 10px;
  margin: 0 3px;
}

#btn-nClientes, #btn-nAeronaves, #btn-eClientes, #btn-eAeronaves {
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    background: #141518;
    color: white;
}
