/* ---------->>> GERAL <<<-----------*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-weight: 300;
}

ul, li, a, h1, h2 {
    list-style: none;
    text-decoration: none;
}

/* ---------->>> TELA DE LOGIN <<<-----------*/

body, html {
    width: 100%;
    height: 100%;
}

#header {
    display: flex;
    width: 100%;
    height: 15%;
    background: #556594;
    align-items: center;
}

#bcg-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#logo {
    font-weight: 600;
    color: white;
    padding-left: 30px;
}

#coluna {
    padding-right: 30px;
}

#coluna a {
    display: block;
    padding: 7px 5px 0 0;
    font-size: .85em;
    color: white;
    text-align: right;
}

#coluna a:hover {
    text-decoration: underline;
}

#formulario {
    display: flex;
    align-items: center;
}

#formulario span {
    font-size: 1.2em;
    color: white;
    padding-right: 5px;
}

.campo {
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: .85em;
    color: #141518;
    border: none;
    padding: 2px 0 2px 5px;
    border-radius: 2px;
    margin: 0 2px;
    width: 150px;
    height: 20px;
}

#enviar {
    background: #161e55;
    font-weight: 600;
    padding: 5px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

#main {
    display: flex;
    width: 100%;
    height: 75%;
    background: #161e55;
    justify-content: space-evenly;
    align-items: center;
}

#img-login {
    width: 400px;
}

#main p {
    width: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    color: white;
    padding: 100px 0;
    text-align: center;
}

#footer {
    display: flex;
    font-size: .75em;
    height: 10%;
    width: 100%;
    color: white;
    background: #161e55;
    align-items: center;
    justify-content: center;
}


